In [69]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

Ref - https://www.kaggle.com/budincsevity/szeged-weather

In [70]:
# import data
df = pd.read_csv('weatherHistory.csv')
df.columns = ['time', 'summary', 'precipType', 'temperature', 'apparentTemperature', 'humidity', 'windSpeed', 'windBearing', 'visibility', 'cloudCover', 'pressure', 'summary']
df.head()

,time,summary,precipType,temperature,apparentTemperature,humidity,windSpeed,windBearing,visibility,cloudCover,pressure,summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

# EDA

In [71]:
# drop duplicates, if any
df.drop_duplicates(inplace=True)

In [72]:
# summary statistics
df.describe(include='all')

,time,summary,precipType,temperature,apparentTemperature,humidity,windSpeed,windBearing,visibility,cloudCover,pressure,summary
count,96429,96429,95912,96429.000000,96429.000000,96429.000000,96429.000000,96429.000000,96429.000000,96429.0,96429.000000,96429
unique,96429,27,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,214
top,2008-07-31 01:00:00.000 +0200,Partly Cloudy,rain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mostly cloudy throughout the day.
freq,1,31726,85200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20085
mean,NaN,NaN,NaN,11.929692,10.851707,0.734902,10.812460,187.497506,10.347225,0.0,1003.232915,NaN
std,NaN,NaN,NaN,9.550492,10.695743,0.195466,6.913345,107.376423,4.192548,0.0,116.984300,NaN
min,NaN,NaN,NaN,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,NaN
25%,NaN,NaN,NaN,4.683333,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000,NaN
50%,NaN,NaN,NaN,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000,NaN
75%,NaN,NaN,NaN,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000,NaN
max,NaN,NaN,NaN,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000,NaN

In [73]:
df.nunique()

time                   96429
summary                   27
precipType                 2
temperature             7574
apparentTemperature     8984
humidity                  90
windSpeed               2484
windBearing              360
visibility               949
cloudCover                 1
pressure                4979
summary                  214
dtype: int64

In [74]:
# df['summary'] uniques (use iloc because summary uses df.summary() instead)
df.iloc[:, 1].value_counts()

Partly Cloudy                          31726
Mostly Cloudy                          28094
Overcast                               16597
Clear                                  10873
Foggy                                   7148
Breezy and Overcast                      528
Breezy and Mostly Cloudy                 516
Breezy and Partly Cloudy                 386
Dry and Partly Cloudy                     86
Windy and Partly Cloudy                   67
Light Rain                                63
Breezy                                    54
Windy and Overcast                        45
Humid and Mostly Cloudy                   40
Drizzle                                   39
Breezy and Foggy                          35
Windy and Mostly Cloudy                   35
Dry                                       34
Humid and Partly Cloudy                   17
Dry and Mostly Cloudy                     14
Rain                                      10
Windy                                      8
Humid and Overcast                         7
Windy and Foggy                            4
Dangerously Windy and Partly Cloudy        1
Windy and Dry                              1
Breezy and Dry                             1
Name: summary, dtype: int64

In [75]:
# precipType uniques
df['precipType'].unique()

array(['rain', 'snow', nan], dtype=object)

In [76]:
# drop unnecessary variables
df.drop(['summary', 'cloudCover'], axis = 1, inplace=True)

In [77]:
df.head()

,time,precipType,temperature,apparentTemperature,humidity,windSpeed,windBearing,visibility,pressure
0,2006-04-01 00:00:00.000 +0200,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13
1,2006-04-01 01:00:00.000 +0200,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63
2,2006-04-01 02:00:00.000 +0200,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94
3,2006-04-01 03:00:00.000 +0200,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41
4,2006-04-01 04:00:00.000 +0200,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51

# Feature Engineering and/or Transformation

In [78]:
# time variable
# we can use time as hours from midnight to see if there is correlation between that and apparentTemprerature
# df['time'] = pd.to_datetime(df['time'], format = '%Y-%m-%d %H:%M:%S.%f %z')
df['hour'] = pd.to_datetime(df['time'], format = '%Y-%m-%d %H:%M:%S.%f %z').dt.hour
df.head()

AttributeError: Can only use .dt accessor with datetimelike values

In [81]:
x = pd.to_datetime(df['time'], format = '%Y-%m-%d %H:%M:%S.%f %z')

ValueError: time data '2006-04-01 00:00:00.000 +0200' does not match format '%Y-%m-%d %H:%M:%S.%f +%z' (match)

In [80]:
x

0        2006-04-01 00:00:00+02:00
1        2006-04-01 01:00:00+02:00
2        2006-04-01 02:00:00+02:00
3        2006-04-01 03:00:00+02:00
4        2006-04-01 04:00:00+02:00
                   ...
96448    2016-09-09 19:00:00+02:00
96449    2016-09-09 20:00:00+02:00
96450    2016-09-09 21:00:00+02:00
96451    2016-09-09 22:00:00+02:00
96452    2016-09-09 23:00:00+02:00
Name: time, Length: 96429, dtype: object